/* This is the header and footer css  */

body {
	margin-top: 0px;
	width:98%;
	height: 100%;
}
.bar {
  display: inline-block;
  width: 99%;
  font-family: arial, sans-serif;
  color: #fff;
}

.bar a{
	color: #666;
	text-decoration: none;
	font-size: 13px;
}

a{
	text-decoration: none;
}

a:hover {
    text-decoration: underline;

}
.bar a:hover {
	text-decoration: underline;
}


.right_bar {
	float: right;

}
.left_bar {
	float: left;
	padding-left: 10px;
}

.bar div {
	display: inline;
}

.bar div ul {
	display: inline;
}
.bar div ul li{
	cursor: pointer;
     margin : 0px 10px;
     padding: 0 5px;
     display: inline-block;
}
 
/* Top bar only */
.top_bar {
	position: absolute;
	top: 6px;
	right: 23px;
}

.top_bar div {
	height: 32px;
	margin: 0px 2px;
}

.top_bar div ul {
	height: 32px;
}

.top_bar div ul li {
     margin: 10px 0;
     height: 30px;
     display: inline-block;
}


#grid {
background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
background-size: 528px 68px;
background-position: 26% 90%;
opacity: .55;
height: 20px;
width: 20px;
margin: 0 2px;
padding-left: 10px;
padding-right: 19px;
}

#grid:hover {
opacity: 1;	
}


#alarm{
   background-color: #737373;
   background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
   width: 10px;
   height: 20px;
   border-radius: 50%;
   white-space: nowrap;
   background-position: 38.2% 42%;
}  

#alarm:hover {
	background-color: black;
}


#account {
   background-image: url("https://lh3.googleusercontent.com/-a0mxAMM974A/AAAAAAAAAAI/AAAAAAAAAAA/ANQ0kf5NuElfRZ17CGzzjHoUr7StgB2B0w/s32-c-mo/photo.jpg");
   border-radius: 50%;
   height: 25px;
   width: 22px;
   margin-left: 10px; 
   padding-top: 6px;
}


/* Bottom bar */

.bottom_bar {
	position: absolute;
	bottom: 0;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	height: 35px;
}

.bottom_bar div {
	margin: 0px 0px;
	padding: 5px 0;
}

.left_bar ul {
	padding: 10px 10px;
}

/* This is the search box  */
.search {
	width: 99%;
	margin: 200px 0 0 0;
}

#logo {
	display: block;
	margin: 0px auto;
	padding: 0px 0px 10px 0px;
	background: url("https://www.google.co.uk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png") no-repeat;
	background-size: 272px 92px;
	height: 92px;
	width: 272px;
}
#logo div 
   { position: relative;
   	padding: 0px;
   	 color:#4285f4;
   	 font:16px/16px  arial, sans-serif;
   	 left: 215px;
   	 top: 76px;

   }
#terms {
	display: block;
	margin: 20px auto;
	height: 50px;
	width: 592px;
}
#terms input {
	width: 592px;
	background-color: white;
	border-style: none;
	box-shadow: rgba(0,0,0,0.16) 0px 2px 2px 0px ,  rgba(0,0,0,0.08) 0px 0px 0px 1px;
	height: 40px;
	text-indent:10px;
}
#terms input:hover, #terms input:focus {
	width: 592px;
	background-color: white;
	border-style: none;
	box-shadow: rgba(0,0,0,0.2) 0px 3px 8px 0px ,  rgba(0,0,0,0.08) 0px 0px 0px 1px;
	height: 40px;
}

.finder { display: block;
	margin: 10px auto;
	padding: 4px 0px 0px 25px;
	height: 45px;
	width: 312px;}

.finder input {
	display: inline;
	padding: 10px;
	color: #757575;
	cursor: default;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight:bold;
    text-align: center;
	margin: 0px 10px;
	background-color: #f8f8f8;
	border-radius: 2px;
	border: 1px solid #f2f2f2;
}

.finder input:hover, finder input:focus {
	display: inline;
	padding: 10px;
	color: #222;
	cursor: default;
	border: 1px solid #c6c6c6;
}

.factoid {
	display: block;
	margin: 0px auto;
	padding: 20px;
	width: 542px;
    font-size: 12px;
    text-align: center;
  }
}